* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Audiowide", sans-serif;
  }

/* Start of header */
nav {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    flex: 1;
    padding-left: 20px;
}

.header-logo {
    height: 75px;
}

.links {
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;    
}

.border {
    padding-bottom: 1px;
    border-bottom: solid 2px black;
    width: 100%;

}

/* End of header */

/* Start of banner */

.banner {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.banner-logo img {
    width: 40%;
    height: auto;
}

.banner-contacts {
    display: flex;
    gap: 20px;
    
}
/* End of banner */

/* Start of services */

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #d5e9f7;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.services-title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-title h1 {
    color: black;
    font-size: 3vw;
}

.thermal-container {
    display: flex;
    padding: 0 150px 100px 150px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.thermal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex: 1;
}

.thermal-description h2 {
    font-size: 2vw;
}

.thermal-img-container {
    display: flex;
    flex: 1;
    justify-content: end;
}

.thermal-img-container img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thermal-text {
    font-size: 1vw;
    width: 80%;
    height: auto;
}

.plumbing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 150px 100px 150px;
}

.plumbing-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex: 1;
}

.plumbing-description h2 {
    font-size: 2vw;
}

.plumbing-img-container {
    display: flex;
    flex: 1;
    justify-content: start;
    
}

.plumbing-img-container img {
    width: 80%;
    height: auto;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plumbing-text {
    font-size: 1vw;
    width: 80%;
    height: auto;
}

/* End of services */
/* Start of contacts */

    .contacts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: #d5e9f7;
        padding-top: 100px;
        padding-bottom: 100px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .contacts-details {
        padding-top: 100px;
    }

/* End of contacts */

@media (max-width: 550px) {
    .thermal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thermal-description {
        padding-bottom: 20px;
    }

    .thermal-img-container {
        justify-content: center;
    }

    .plumbing-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .plumbing-description {
        padding-bottom: 20px;
    }

    .plumbing-img-container {
        justify-content: center;
    }

    .banner-logo {
        padding-bottom: 30px;
    }

}

