@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    font-family: "Audiowide", sans-serif;
  }

/* Start of header */

header {
  position: fixed;
  background-color: white;
  z-index: 100;
}

nav {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    padding-left: 20px;
}

.header-logo {
    height: 75px;
}

.links {
    display: flex;
    flex: 2;
    padding-right: 50px;
    align-items: center;
    justify-content: flex-end;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

a:hover {
  color: rgb(116, 116, 116);
}

.border {
    padding-bottom: 1px;
    border-bottom: solid 2px black;
    width: 100%;

}

/* End of header */

/* Start of banner */

.banner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.banner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.banner-logo img {
    width: 40%;
    height: auto;
}

.banner-contacts {
    display: flex;
    gap: 20px;
    
}

.i-banner {
  transition: 0.5s;
}

.i-banner:hover {

  transform: translateY(-10px);
}
/* End of banner */

/* Start of services */

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
    background-color: #d5e9f7;
    padding: 100px;
}


.services-title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-title h1 {
    color: black;
    font-size: 3vw;
}

.thermal-container {
    display: flex;
    padding: 0 150px 100px 150px;
    align-items: center;
    justify-content: center;
}

.thermal-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex: 1;
}

.thermal-description h2 {
    font-size: 2vw;
}

.thermal-img-container {
    display: flex;
    flex: 1;
    justify-content: end;
}

.thermal-img-container img {
    height: auto;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thermal-text {
    font-size: 1.4vw;
    height: auto;
}

.plumbing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px 100px 150px;
}

.plumbing-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    flex: 1;
}

.plumbing-description h2 {
    font-size: 2vw;
}

.plumbing-img-container {
    display: flex;
    flex: 1;
    justify-content: start;
    
}

.plumbing-img-container img {
    height: auto;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plumbing-text {
    font-size: 1.4vw;
}

.image-slideshow {
  max-width: 700px;
  position: relative;
  margin: auto;
}

.img-ss {
  width: 80%;
  margin: 50px;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .5;}
  to {opacity: 1;}
}

/* End of services */

/* Start of gallery */

.gallery-container{
  padding: 100px;
  margin: 0;
  display:grid;
  place-items:center;
  background-color:#010101;
}

.gallery-header h1 {
  color: white;
  padding: 100px;

}

.image-container {
	font-family: Lato, sans-serif;
	margin: 0;
	padding: 1rem;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

.image-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
}

.image-container figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.image-container figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

@media (prefers-reduced-motion: no-preference) {
	.image-container figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	.image-container figure::after {
		border-radius: 50%;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	.image-container a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	.image-container a:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}

/* */

.insta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.insta-container h2 {
  padding-top: 150px;
  text-align: center;
  color: white;
}

.insta-header {
  padding: 50px;
  width: 50%;
}


.insta-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 20px;
}

.insta-icon:hover {
  color: grey;;
  transform: translateY(-10px);
}

/* End of gallery */




@media (max-width: 1300px) {
    .thermal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .thermal-description {
        padding-bottom: 20px;
    }

    .thermal-img-container {
        justify-content: center;
    }

    .img-ss {
      margin: 25px;
    }

    .plumbing-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .plumbing-description {
        padding-bottom: 20px;
    }

    .plumbing-img-container {
        justify-content: center;
    }

    .banner-logo {
        padding-bottom: 30px;
    }

    .image-container {
      font-family: Lato, sans-serif;
      margin: 0;
      padding: 1rem;
      min-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 900px
    }

    .contacts-inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .contacts-details {
      display: flex;
      flex-direction: column;
    }

    iframe {
      max-width: 300px;
    }


}

@media (max-width: 1100px) {

  .image-container {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 1rem;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px
  }
}


/* Start of contacts */

    .contacts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px;
        background-color: #333;
    }

    .contacts-header {
      color: white;
    }

    .contacts-inner-container {
        display: flex;
        margin-top: 100px;
        background-color: #434343;
        padding: 60px;
        }


    .contacts-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        gap: 100px;
    }
  
    .contact-opening-times {
      color: white;
    }


    .contact-links {
      display: flex;
      color: white;
      padding: 50px;
      gap: 35px;
    }

    .contact-links i:hover {   
        
      transition: 0.5s;
      transform: translateY(-10px);
        
    }

    .contacts-address {
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
    }

    .contacts-map {
        display: flex;
    }

    .map {
        height: auto;
        max-width: fit-content;
    }


    iframe {
    
        max-height: 400px;
        max-width: 500px;
    }

/* End of contacts */

/* Start of footer */



.footer-container {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 40vh;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/* End of footer */

    
