
/* Start of header */
nav {
    display: flex;
    width: 95vw;
    height: auto;
    padding: 10px;
}

.logo {
    flex: 1;
    padding-left: 20px;
}

.header-logo {
    height: 75px;
}

.links {
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.links ul {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;    
}

.border {
    padding-bottom: 1px;
    border-bottom: solid 2px black;
    width: 100%;

}

/* End of header */

/* Start of banner */

.banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.banner-logo {
    height: 500px;
}

.banner-contacts {
    display: flex;
    gap: 20px;
}
/* End of banner */
